nicegui
urllib3
redfish
requests
pyserial
asyncio
pywebview
qtpy
PyQt5
PySide2
PyGObject


# Ran the following to get it working on Ubunutu 22.04
# sudo apt-get install pkg-config
# sudo apt-get install libcairo2-dev
# sudo apt-get install libgirepository1.0-dev
# sudo apt-get install cmake



# Ubuntu 24.04: 
# sudo apt-get install python3-pyqt5
# sudo apt-get install python3-gi gir1.2-gtk-3.0
# sudo apt-get install pkg-config
# sudo apt-get install cmake
# sudo apt-get install libgirepository1.0-dev