nicegui
urllib3
redfish
requests
pyserial
asyncio
pywebview




# Ran the following to get it working on Ubunutu 22.04

# sudo apt-get install pkg-config
# sudo apt-get install libcairo2-dev
# sudo apt-get install libgirepository1.0-dev
# sudo apt-get install cmake

